---
layout: default_style
title: About Galico
permalink: /about
---

<!-- Page Header Start -->
<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center py-5">
	<h1 class="display-4 text-white animated slideInDown mb-4">About Galico</h1>
  </div>
</div>
<!-- Page Header End -->  
<section class="community-section py-5" id="community">
    <div class="container">
        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-12 text-center">
                <h2 class="section-title">Community Involvement</h2>
                <p class="section-subtitle">
                    We joined the <a href="https://barterit.ca" target="_blank">BarterIt.ca</a> community and looking forward to grow with you.
                </p>
				<a href="https://barterit.ca">
					<img 
					  class="img-fluid object-fit-cover object-position-center"
					  src="{{ '/assets/img/community/barteritLogo.png' | relative_ulr }}"
					  alt="Galico mascot"
					  target="_blank"
					/>
				</a>

                <p class="section-subtitle">
                    We are proud sponsor of the <a href="https://www.facebook.com/share/r/16iH2dxpKv/" target="_blank">Ottawa Valley Falcons Hockey Team's 2025 Golf Tournament</a>.
                </p>
				<a href="https://www.facebook.com/share/r/16iH2dxpKv/">
					<img 
					  class="img-fluid object-fit-cover object-position-center"
					  src="{{ '/assets/img/sponsorship/ovfalcons.jpg' | relative_ulr }}"
					  alt="Galico mascot"
					  target="_blank"
					/>
				</a>

        </div>
    </div>
</section>

<section class="py-5" id="affiliations">
    <div class="container">
        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-12 text-center">
                <h2 class="section-title">Affiliations</h2>
                <p class="section-subtitle">
                    We are proud member of the following affilliations.
                </p>
            </div>
        </div>

        <div class="row g-4 align-items-end wow fadeInUp" data-wow-delay="0.3s">
            {% for m in site.data.affiliations %}
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="affiliations-card position-relative">
                    <a href="{{ m.url }}" target="_blank" alt="{{ m.name }}">
						<img 
							src="/assets/img/community/{{ m.logo }}" 
							alt="{{ m.name }}" 
							class="img-fluid"
						>
					</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-5" id="accreditation">
    <div class="container">
        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-12 text-center">
                <h2 class="section-title">Accreditations</h2>
                <p class="section-subtitle">
                    We are accredited by following groups.
                </p>
            </div>
        </div>

        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            {% for m in site.data.accreditations %}
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="text-center">
                    <a href="{{ m.url }}" target="_blank" title="{{ m.name }}">
						<img 
							src="/assets/img/{{ m.logo }}" 
							alt="{{ m.name }}" 
							class="img-fluid"
						>
					</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



<!-- Manufacturer Start -->
	
<!--  {% include manufacturers.html %}	 -->
	
<!-- Manufacturer End -->

<section class="guarantee-section py-5" id="guarantee">
    <div class="container">
        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-12 text-center">
                <h2 class="section-title">Service Guarantee</h2>
                <p class="section-subtitle">
                    [To be Expanded]
                </p>
            </div>
        </div>
    </div>
</section>


