<head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Galico">
<!--     <link rel="canonical" href="https://galico.ca">
    <meta property="og:title" content="Galico | Professional Gas Installation">
    <meta property="og:description" content="Providing reliable gas services for home builders and homeowners in West Ottawa, Ontario.">
    <meta property="og:image" content="https://galico.ca/img/Galico_logo_240px.png">
    <meta property="og:url" content="https://galico.ca">
    <meta property="og:type" content="website"> -->

  <meta name="keywords" content="Gas services in Almonte, Arnprior, Carleton Place, Carp, Kanata, Nepean, Perth, Stittsville, Smiths Falls; trusted gas technician, gas range installation, gas stove installation, tankless water heater installation, radiant floor installation, gas BBQ connection." />

  <!-- Favicon and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<!--   <link rel="stylesheet" href="{{ '../assets/bootstrap/css/bootstrap.css' | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/lib/owlcarousel/assets/owl.carousel.min.css' | relative_url }}"  />
  <link rel="stylesheet" href="{{ '/assets/lib/owlcarousel/assets/owl.theme.default.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>

  <!-- Google Tag Manager -->
  <script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NL46ZSWV');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Favicon -->
  <link rel="icon" href="{{ '/assets/img/logo/favicon.ico' | relative_url }}" type="image/x-icon"/>

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link  
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
  rel="stylesheet"
/>

</head>