<script type="text/javascript" src="{{'/assets/js/jquery-1.10.2.min.js' | relative_url}}"></script>
<script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>
<!-- <script src="{{'/js/wow.min.js' | relative_url}}"></script> -->
<script src="{{'/assets/js/main.js' | relative_url}}"></script>
<script src="{{'/assets/lib/wow/wow.min.js' | relative_url}}"></script>
<script src="{{'/assets/lib/easing/easing.min.js' | relative_url}}"></script>
<script src="{{'/assets/lib/waypoints/waypoints.min.js' | relative_url}}"></script>
<script src="{{'/assets/lib/owlcarousel/owl.carousel.min.js' | relative_url}}"></script>
<script>
  new WOW().init();
</script>