<!-- Subscription -->
<section class="py-5 bg-white" style="
    background-image: url('/assets/img/breakaway.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
">
    <!-- Overlay for better text readability -->
    <div style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.60);
        z-index: 1;
    "></div>
    
    <div class="container" style="position: relative; z-index: 2;">
        <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-12 text-center">
				<h4>Are You Still Renting Your 10 years old Hot Water Tank?</h4>
                <h3 class="section-title">Breakaway from your Water Heater Rental Contract!</h3>
                <p class="section-subtitle">
                    <a href="{{ '/onboarding/' | relative_url }}" class="btn btn-primary py-3 px-5">Up to <b>$500</b> Buyout with Subscription</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Subscription End -->