<!DOCTYPE html>
  {% include head.html %}
  {% include header.html %}
  {% include disclaimer-banner.html %}
  {% include script.html %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
      <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <!-- <div class="carousel-item active">
            <img class="w-100" src="../assets/img/carousel/carousel-1.jpg" alt="Image" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-light text-uppercase mb-3 animated slideInDown">
                      Our Services
                    </h5>
                    <h1 class="display-2 text-light mb-3 animated slideInDown">
                      Natural Gas and Liquid Propane Installation
                    </h1>
                    <ol class="breadcrumb mb-4 pb-2">
                      <li class="breadcrumb-item fs-5 text-light">
                        Residential Gas Appliances
                      </li>
					  <li class="breadcrumb-item fs-5 text-light">
                        New House Construction
                      </li>
                      <li class="breadcrumb-item fs-5 text-light">
                        Standby Generator
                      </li>
                      <li class="breadcrumb-item fs-5 text-light">
                        Quick Connection
                      </li>
                    </ol>
                    <a href="#services" class="btn btn-primary py-3 px-5">More Details</a>

                  </div>
                </div>
              </div>
            </div>
          </div> -->

		  
		  <div class="carousel-item active">
            <img class="w-100" src="../assets/img/carousel/pov-vacation.png" alt="Quebec City, Toronto, Niagara Falls" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-light text-uppercase mb-3 animated slideInDown">
					  Point of View
                    </h5>
                    <h1 class="display-5 text-light text-shadow mb-3 animated slideInDown">
                       Your old water heater didn't fail... you replaced it early and got a free 3-night stay 
                    </h1>
                    <ol class="breadcrumb mb-4 pb-2">
					  <li class="breadcrumb-item fs-5 text-light">
                        Ends April 30, 2026
                      </li>
                    </ol>
                    <a href="freevacation" class="btn btn-primary py-3 px-5">Claim Offer</a>
				  </div>
                </div>
              </div>
            </div>
          </div>	
		  
		  <div class="carousel-item">
            <img class="w-100" src="../assets/img/carousel/tank-calculator.jpg" alt="Image" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-dark text-shadow text-uppercase mb-3 animated slideInDown">
					  Time to change your hot water tank?
                    </h5>
                    <h1 class="display-4 text-light mb-3 animated slideInDown">
                      Get an instant quote with your sizing calculator  
                    </h1>
<!--                     <ol class="breadcrumb mb-4 pb-2">
                      <li class="breadcrumb-item fs-5 text-light">
                        Ends December 31, 2025
                      </li>
                    </ol> -->
                    <a href="https://galico.ca/hot-water/water-heater-size-calculator-ottawa" class="btn btn-primary py-3 px-5">Order Online</a>
				  </div>
                </div>
              </div>
            </div>
          </div>
		  
		  <div class="carousel-item">
            <img class="w-100" src="../assets/img/carousel/breakaway.jpg" alt="Image" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-dark text-uppercase mb-3 animated slideInDown">
                      Are You Still Renting Your 10 years old Hot Water Tank?
					  <!-- Tired of paying high monthly rental fees for you Hot Water Tank? -->
                    </h5>
                    <h1 class="display-2 text-light text-shadow mb-3 animated slideInDown">
                       Breakaway from your Water Heater Rental!! 
                    </h1>
                    <a href="onboarding" class="btn btn-primary py-3 px-5">Up to <b>$500</b> Buyout with Subscription</a>
				  </div>
                </div>
              </div>
            </div>
          </div>

		  <div class="carousel-item">
            <img class="w-100" src="../assets/img/carousel/Hockeyball.jpg" alt="Kanata-Stittsville Beavers" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-dark mb-3 animated slideInDown">
                      Supporting Our Community
					  <!-- Tired of paying high monthly rental fees for you Hot Water Tank? -->
                    </h5>
                    <h1 class="display-2 text-light text-shadow mb-3 animated slideInDown">
                       Galico is a proud sponsor of the Kanata-Stittsville Beavers!! 
                    </h1>
                    <!-- <a href="https://www.kanatastittsvilleminorballhockey.com/" class="btn btn-primary py-3 px-5" target="_blank">Visit</a> -->
				  </div>
                </div>
              </div>
            </div>
          </div>
		  
<!--           <div class="carousel-item">
            <img class="w-100" src="../assets/img/carousel/carousel-2.jpg" alt="Image" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-light text-uppercase mb-3 animated slideInDown">
                      Area of Service
                    </h5>
                    <h1 class="display-2 text-light mb-3 animated slideInDown">
                      Serving Ottawa and West of Ottawa
                    </h1>
                    <ol class="breadcrumb mb-4 pb-2">
					  <li class="breadcrumb-item fs-5 text-light">
                        Arnprior
                      </li>
                      <li class="breadcrumb-item fs-5 text-light">
                        Carleton Place
                      </li>
					  <li class="breadcrumb-item fs-5 text-light">
                        Carp
                      </li>
					  <li class="breadcrumb-item fs-5 text-light">
                        Kanata
                      </li>
					  <li class="breadcrumb-item fs-5 text-light">
                        Nepean
                      </li>
					  <li class="breadcrumb-item fs-5 text-light">
                        Perth
                      </li>
					  <li class="breadcrumb-item fs-5 text-light">
                        Stittsville
                      </li>
                      <li class="breadcrumb-item fs-5 text-light">
                        Smiths Falls
                      </li>
                    </ol>
					<a href="https://galico.ca/service-area/" class="btn btn-primary py-3 px-5">Service Area</a>

                  </div>
                </div>
              </div>
            </div>
          </div> -->
<!--         <div class="carousel-item">
            <img class="w-100" src="img/carousel-3.jpg" alt="Image" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-light text-uppercase mb-3 animated slideInDown">
                      Technical Standards & Safety Authority
                    </h5>
                    <h1 class="display-2 text-light mb-3 animated slideInDown">
                      Registered Contractor under Ontario's TSSA
                    </h1>
					<a href="https://www.tssa.org/fuels-contractor-detail/906806" target="_blank" class="btn btn-primary py-3 px-5">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
		<div class="carousel-item">
            <img class="w-100" src="../assets/img/carousel/carousel-5.jpg" alt="Image" />
            <div class="carousel-caption">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 col-lg-10">
                    <h5 class="text-light text-uppercase mb-3 animated slideInDown">
					  Heroes' Discount
                    </h5>
                    <h1 class="display-4 text-light mb-3 animated slideInDown">
                      10% Off for First Responders, Military Personnel, Nurses and Search & Rescue
                    </h1>
					<ol class="breadcrumb mb-4 pb-2">
					  <li class="breadcrumb-item fs-5 text-light text-shadow">
                        * Not applicable to subscritions or in conjunction with any other discounts or promotions.
                      </li>
					</ol>
					<!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSc5oJqBMf64eai-7eUjk1mVk5lL6ospA4sGP7sItC44nnRPjQ/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer" class="btn btn-primary py-3 px-5">Request a Quote</a>
					-->
                  </div>
                </div>
              </div>
            </div>
          </div>
		</div>
      </div>
	</div>
	<div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#header-carousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- Carousel End -->

	<!-- Services Start -->
    <div class="container-xxl py-5" id="services">
      <div class="container">
        <div class="row g-5 align-items-end mb-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="border-start border-5 border-primary ps-4">
              <h6 class="text-body text-uppercase mb-2">Brigning comfort to your home</h6>
              <h1 class="display-6 mb-0">
                Our Services
              </h1>
            </div>
          </div>
        </div>
		<div class="row g-4 justify-content-center">
		   {% include card.html %}
		</div>
      </div>
    </div>
<!-- Services End -->

{% include subscription_ad.html %}

<!-- Testimonial Start -->
<!-- <section class="py-5 bg-white">
    <div class="container-xxl py-5" id="testimonial">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="border-start border-5 border-primary ps-4 mb-5">
              <h6 class="text-body text-uppercase mb-2">What Our Happy Clients Say!</h6>
              <h1 class="display-6 mb-0">Testimonials</h1>
            </div>
			  <img class="img-fluid mb-4" src="/assets/img/testimonials/5stars.jpg"  alt=""/>
          </div>
          <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
            <div class="owl-carousel testimonial-carousel">
			    {% include testimony.html %}

			</div>
          </div>
        </div>
      </div>
    </div>
</section> -->
<!-- Testimonial End --> 

<!-- Manufacturer Start -->
	
<!--  {% include manufacturers.html %}	 -->
	
<!-- Manufacturer End -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="blog" class="container-xxl py-5">
      <div class="container" data-aos="fade-up">
        <div class="row g-5 align-items-end mb-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="border-start border-5 border-primary ps-4">
              <h6 class="text-body text-uppercase mb-2">Stay in the know</h6>
              <h1 class="display-6 mb-0">
                Recent Blog Posts
              </h1>
            </div>
          </div>
        </div>

		<div id="soro-blog"></div>
		<script>(function(){var s=document.createElement('script'),p=new URLSearchParams(window.location.search),u='https://app.trysoro.com/api/embed/25dab465-7e59-476a-8124-58dc69cc2f3b';if(p.get('post'))u+='?post='+encodeURIComponent(p.get('post'));s.src=u;document.currentScript.after(s);})()</script>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->	
<!-- Garantee Start -->
<section class="py-5 bg-white" id="guarantee">
  <div class="container-xxl">
    <div class="container">
      <!-- Centered section title -->
      <div class="row mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="col-12 text-center">
          <h2 class="section-title">Service Guarantee</h2>
        </div>
      </div>

      <!-- FIXED GRID: Text left | Image + Checkmarks right -->
      <div class="row g-5">
        <!-- LEFT COLUMN: Guarantee text points only -->
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h4 class="display-12">Professional Installation Guarantee</h4>
          <p class="section-subtitle">
            At Galico, every installation is performed to manufacturer specifications, Ontario gas and safety codes, and industry best practices. We stand behind our workmanship and installation standards so homeowners can feel confident that their system is installed safely and correctly from day one.
          </p>
          <h4 class="display-12">Transparent Pricing Commitment</h4>
          <p class="section-subtitle">
            We provide clear, upfront pricing before work begins. No hidden installation fees, unexpected add-ons, or last-minute pricing changes — just straightforward recommendations and professional service.
          </p>
          <h4 class="display-12">Licensed & Code-Compliant Work</h4>
          <p class="section-subtitle">
            All gas-related work is completed by licensed gasfitters, with proper testing, verification, and commissioning performed before the system is placed into operation. Safety and compliance are never optional steps — they are part of every installation.
          </p>
          <h4 class="display-12">Manufacturer Warranty Protection</h4>
          <p class="section-subtitle">
            We install equipment according to manufacturer requirements so your product warranty remains fully valid. When applicable, we assist homeowners with warranty documentation and registration to ensure long-term protection.
          </p>
          <h4 class="display-12">Clean & Respectful Jobsite Promise</h4>
          <p class="section-subtitle">
            Your home is treated with care throughout the installation process. Work areas are protected, old equipment is removed properly, and the installation area is left clean and ready for normal use.
          </p>
        </div>

        <!-- RIGHT COLUMN: Image + Checkmarks BELOW it -->
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
          <!-- Image -->
          <img 
            class="img-fluid rounded mb-4" 
            src="{{ '/assets/img/about.jpg' | relative_url }}" 
            alt="Galico gas technician next to gas meter and toolbox"
          />
          
          <!-- Checkmarks section moved HERE under image -->
          <div class="border-top pt-4">
            <div class="row g-4">
              <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.4s">
                <i class="fa fa-certificate fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Licensed Gas Technician</h6>
              </div>
              <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-clipboard-check fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">Code-compliant & Manufacturer-approved</h6>
              </div>
              <div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.6s">
                <i class="fa fa-shield-alt fa-2x text-primary flex-shrink-0 me-3"></i>
                <h6 class="mb-0">1-year workmanship guarantee</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Garantee End -->
 {% include footer.html %}  
	
  

